[submodule "Example/7a0b0f46563c3202735f"]
	path = Example/7a0b0f46563c3202735f
	url = https://gist.github.com/7a0b0f46563c3202735f
[submodule "Additional Source Files/nonrecursivepredictiveparser"]
	path = Additional Source Files/nonrecursivepredictiveparser
	url = https://github.com/pedrumj/nonrecursivepredictiveparser
[submodule "Additional Source Files/093fee9b4175c7443c21"]
	path = Additional Source Files/093fee9b4175c7443c21
	url = https://gist.github.com/pedrumj/093fee9b4175c7443c21
